<div class="page-header" style="background-image: url('assets/img/okta_blue_bg.png')">
  <!-- <div class="page-header" style="background-color: #00297A"> -->

  <div class="fxcontainer" fxLayout="row wrap" fxLayoutAlign="center">
    <!-- <div class="userNameItem" fxFlex="0 0 90%">ようこそ</div> -->
    <div class="item">
      <div class="divHead">
        Okta Sign-in Widget 1
      </div>

      <div *ngIf="widget1_tokens; else notShow">
        We have the token

        {{ this.widget1_idtoken }}

      </div>
      <ng-template #notShow>
        <app-widget1></app-widget1>
      </ng-template>
     

    </div>



    <div class="item">
      <div class="divHead">
        Okta Sign-in Widget 2
      </div>
      <div>
        <!-- <app-widget2></app-widget2> -->
      </div>
    </div>
  </div>

  <!-- </div> -->