<div class="page-header" style="background-image: url('assets/img/okta_blue_bg.png')">
  <!-- <div class="page-header" style="background-color: #00297A"> -->

  <div class="fxcontainer" fxLayout="row wrap" fxLayoutAlign="center">
    <!-- <div class="userNameItem" fxFlex="0 0 90%">ようこそ</div> -->
    <div class="item">
      <div class="divHead">
        Okta Sign-in Widget 1
      </div>

      <div *ngIf="widget1_tokens; else notShow">
        <div class="UserinfoContainer">
          <a class="JWTheading">デフォルトのAccess Token</a>
        </div>
        <div class="jsonContainer">
          <pre><p class="jsonJWT">
          <!-- {{ arrThisUser_1 | json }} -->

      <a class="attributeHead">authorizeUrl</a><a class="jwtcolon"> :   </a><a class="tokenAttribute">{{ arrThisUser_1.authorizeUrl }}</a>
      <a class="attributeHead indentLevel1">claims</a><a class="jwtcolon"> :   </a>
      <a class="attributeHead indentLevel2">aud</a><a class="jwtcolon">  :  </a><a class="tokenAttribute">{{ arrThisUser_1.claims.aud }}</a>    
      <a class="attributeHead indentLevel2">cid</a><a class="jwtcolon">   :   </a><a class="tokenAttribute">{{ arrThisUser_1.claims.cid }}</a>  
      <a class="attributeHead indentLevel2 ">exp</a><a class="jwtcolon">  :   </a><a class="tokenAttribute integerAtt">{{ arrThisUser_1.claims.exp }}</a>  
      <a class="attributeHead indentLevel2 ">iat</a><a class="jwtcolon">    :   </a><a class="tokenAttribute integerAtt">{{ arrThisUser_1.claims.iat }}</a>  
      <a class="attributeHead indentLevel2">iss</a><a class="jwtcolon">    :   </a><a class="tokenAttribute">{{ arrThisUser_1.claims.iss }}</a>  
      <a class="attributeHead indentLevel2">jti</a><a class="jwtcolon">     :   </a><a class="tokenAttribute">{{ arrThisUser_1.claims.jti }}</a>  
      <a class="attributeHead indentLevel2">scp</a><a class="jwtcolon">   : </a> <a class="jwtcolon"></a><a class="tokenAttribute">{{ arrThisUser_1.claims.scp }}</a>    
      

        </p></pre>
        </div>


      </div>
      <ng-template #notShow>
        <app-widget1></app-widget1>
      </ng-template>


    </div>



    <div class="item">
      <div class="divHead">
        Okta Sign-in Widget 2
      </div>
      <div>
        <!-- <app-widget2></app-widget2> -->
      </div>
    </div>
  </div>

  <!-- </div> -->